<div class="dashboard-container">
  <div class="grid-dashboard">
    <app-contrats-nettoyage class="carte"></app-contrats-nettoyage>
    <app-contrats-gardiennage ></app-contrats-gardiennage>
    <app-contrats-restauration ></app-contrats-restauration>
    <chef-app-contrats-alerte ></chef-app-contrats-alerte>

    <div class="echeance-zone">
    <app-echeance></app-echeance>
    </div>

       <div class="alerte-zone">
      <app-contrat-en-alerte></app-contrat-en-alerte>
    </div>
  </div>
</div>
