<div class="add-delai-box">
  <h2>Ajouter un délai contractuel</h2>

  <form (ngSubmit)="enregistrer()">
    <label>Date :</label>
    <input type="date" [(ngModel)]="delai.date" name="date" required />



    <label>Pénalité journalière :</label>
    <input type="number" [(ngModel)]="delai.montantPenaliteJournalier" name="montantPenaliteJournalier" required />

    <label>Commentaire :</label>
    <textarea [(ngModel)]="delai.commentaire" name="commentaire"></textarea>



    <button type="submit">Enregistrer</button>
  </form>
</div>

