
  <h3>Ajouter un délai contractuel</h3>

  <form (ngSubmit)="enregistrer()" #form="ngForm">
    <label>Date :</label>
    <input type="date" [(ngModel)]="delai.date" name="date" required />

    <label>Montant pénalité (par jour) :</label>
    <input type="number" [(ngModel)]="delai.montantPenaliteJournalier" name="montantPenaliteJournalier" />

    <label>Commentaire :</label>
    <textarea [(ngModel)]="delai.commentaire" name="commentaire" rows="3"></textarea>


    <button type="submit">Enregistrer</button>
  </form>

