.add-delai-form {
 display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 16px;
}
.add-delai-box {
  background-color: transparent;
  color: #e2e8f0;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 30px;
  box-sizing: border-box;
}
label {
  display: block;
  margin-top: 6px;
  font-weight: bold;
  color: #e2e8f0;;
  font-size: 14px;
}
h2{
      font-size: 26px;
    font-weight: bold;
    margin-bottom: 24px;
    color: #ffffff;
}
input, textarea {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: none;
}

.checkboxes {
  display: flex;
  gap: 24px;
}

button[type="submit"] {
  background-color: #28a745;
  border: none;
  padding: 12px 28px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 13px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #218838;
}
