.echeances-container {
  background-color: #062c4f;
  border-radius: 12px;
  padding: 0px 24px 10px 24px; /* réduit l’espace vertical */
  color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  overflow-x: auto;
}

.echeances-title {
  text-align: center;
  margin-bottom: 8px; /* réduit espace sous le titre */
  font-weight: bold;
  font-size: 22px;
}

.echeances-separator {
  height: 1px;
  background-color: #cce5ff;
  opacity: 0.5;
  margin-bottom: 16px; /* réduit l’espacement */
  width: 100%;
}

.echeances-content {
  display: flex;
  justify-content: flex-start;
  gap: 36px;
  overflow-x: auto;
  padding-bottom: 8px;
  scrollbar-width: thin;
  scrollbar-color: #3a91f9 transparent;
}

.echeances-content::-webkit-scrollbar {
  height: 6px;
}
.echeances-content::-webkit-scrollbar-track {
  background: transparent;
}
.echeances-content::-webkit-scrollbar-thumb {
  background-color: #3a91f9;
  border-radius: 4px;
}
.echeances-content::-webkit-scrollbar-thumb:hover {
  background-color: #58b0ff;
}

.item {
  text-align: center;
  min-width: 120px;
  color: #cce5ff;
  flex-shrink: 0;
}

.icon mat-icon {
  font-size: 28px;
  color: #42a5f5;
  margin-bottom: 4px;
}

.date {
  font-weight: bold;
  font-size: 18px;
  margin: 4px 0;
}

.label {
  font-size: 14px;
  color: #e3f2fd;
}
