<div class="modifier-contrat-box">
  <h2>Modifier le contrat</h2>

  <form [formGroup]="form" (ngSubmit)="valider()" class="contrat-form">
    <div class="form-row">
      <label>Nom :</label>
      <input formControlName="nomContrat" type="text" />
    </div>

    <div class="form-row">
      <label>Type :</label>
      <select formControlName="type">
        <option [value]="'Travaux'">Travaux</option>
        <option [value]="'Prestation'">Prestation</option>
        <option [value]="'Continu'">Continu</option>
      </select>
    </div>

    <div class="form-row">
      <label>Statut :</label>
      <select formControlName="statut">
        <option [value]="'en_cours'">En cours</option>
        <option [value]="'terminé'">Terminé</option>
        <option [value]="'résilié'">Résilié</option>
      </select>
    </div>

    <div class="form-row">
      <label>Date début :</label>
      <input formControlName="dateDebut" type="date" />
    </div>

    <div class="form-row">
      <label>Date fin :</label>
      <input formControlName="dateFin" type="date" />
    </div>

    <div class="form-row">
      <label>Prestataire :</label>
      <input formControlName="prestataire" type="text" />
    </div>

    <div class="form-row">
      <label>Responsable :</label>
      <input formControlName="responsableLeoni" type="text" />
    </div>

    <div class="form-row">
      <label>Emails associés :</label>
      <textarea formControlName="emailsPersonnesDediees"></textarea>
    </div>

    <div class="form-footer">
      <button type="submit">💾 Enregistrer</button>
      <button type="button" (click)="annuler()">Annuler</button>
    </div>
  </form>
</div>
