.upload-box {
  border: 1px dashed #011530;
  padding: 16px;
  text-align: right ;
  color: #cce5ff;
  background-color: #011530;
  
}

.upload-button {
  color: #29b6f6;
  cursor: pointer;
  font-weight: bold;
}

.file-list {
  margin-top: 10px;
  color: #e3f2fd;
  font-size: 14px;
}
