.card-alerte {
  background-color: #4f1f1f;
  color: white;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.35);
  height: 140px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  transition: all 0.3s ease;
}

.card-alerte:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.title {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 4px;
  color: #ffeaea;
}

.number {
  font-size: 36px;
  font-weight: bold;
  color: #f86d6d;
  line-height: 1;
  margin: auto;
  margin-top: 5px;
}
